extends layouts/default

block content
  script.
    // normalize feed styling
    $(document).ready(function () {
      $('.feed__content style').remove()
      $("table").addClass("table")
    });

  if data
    .row
      .col-sm-3
        .small
          b CURRENT FEED
        br
        a(href=data.home_page_url)
          .feed-sidebar
          if data.icon
            img.feed-sidebar__icon(src=data.icon)
          else if data.favicon
            img.feed-sidebar__icon(src=data.favicon)
            
        p
          a(href=data.home_page_url)
            b=data.title
        p= data.description
        if data.author && data.author.name
          p
            em
              | A feed by 
              = data.author.name
        p.label.label-default= feedType.toUpperCase()
        hr

      .col-sm-9
        if data.items
          for i in data.items
            if i.external_url
              a(target="_blank" href=i.external_url)
                h1.no-margin-top= i.title
            else
              h1.no-margin-top= i.title
            p
              if i.url
                a(target="_blank" href=i.url)
                  | Permalink
                  i.fa.fa-external-link.fa-margin-left(aria-hidden="true")
                  |  - 
              if i.date_published
                - var datePublished = moment(i.date_published)
              if i.date_modified
                - var dateModified = moment(i.date_modified)

              if datePublished
                | Posted on 
                = datePublished.format("YYYY-MM-DD HH:mm")
                if dateModified && !dateModified.isSame(datePublished, "minute")
                  span
                    | , modified 
                    if datePublished.isSame(dateModified, 'day')
                      | at 
                      = dateModified.format("HH:mm")
                    else
                      | on 
                      = dateModified.format("YYYY-MM-DD HH:mm")

            if i.image
              img.feed__image(src=i.image)
            else if i.banner_image
              img.feed__image(src=i.banner_image)

            .feed__content
              if i.content_html
                p!= i.content_html
              else if i.content_text
                p!= i.content_text
            hr
  else
    p.lead Hmm. Something failed. Try another feed.