extends layout

block content
  if data
    .row
      .col-sm-3
        a(href=data.home_page_url)
          img(style="margin-bottom:20px; max-width:50px;" src=(data.icon ? data.icon : data.favicon))
        p
          a(href=data.home_page_url)
            b=data.title
        p= data.description
        p
          em
            | A feed by 
            = data.author.name
        hr
      .col-sm-9
        if data.items
          for i in data.items
            if i.external_url
              a(target="_blank" href=i.external_url)
                h1(style="margin-top:0;")= i.title
            else
              h1(style="margin-top:0;")= i.title
            p
              if i.date_published
                - var datePublished = moment(i.date_published)
              if i.date_modified
                - var dateModified = moment(i.date_modified)

              | Posted on 
              = datePublished.format("YYYY-MM-DD HH:mm")
              if dateModified && !dateModified.isSame(datePublished, "minute")
                span
                  | , modified 
                  if datePublished.isSame(dateModified, 'day')
                    | at 
                    = dateModified.format("HH:mm")
                  else
                    | on 
                    = dateModified.format("YYYY-MM-DD HH:mm")

            p!= i.content_html
            hr
  else
    h1(style="margin-top:0;") Welcome to JSON Feed Viewer!
    p.lead Browse through the showcased JSON feeds below, or type in a JSON feed URL above.
    hr
    if showcaseFeeds
      .row
        for showcaseFeed in showcaseFeeds
          .col-sm-6.col-md-4.col-lg-3
            div.panel.panel-default
              .panel-body
                a(href="/?feed_url="+encodeURIComponent(showcaseFeed.feed_url))
                  img(style="max-width:50px;" src=(showcaseFeed.icon ? showcaseFeed.icon : showcaseFeed.favicon))
                h3
                  a(href="/?feed_url="+encodeURIComponent(showcaseFeed.feed_url))
                    b=showcaseFeed.title
                p= showcaseFeed.description
                if showcaseFeed.author && showcaseFeed.author.name
                  p
                    em
                      | A feed by 
                      = showcaseFeed.author.name
                a(href="/?feed_url="+encodeURIComponent(showcaseFeed.feed_url))
                  .btn.btn-success.btn-sm Read feed