extends layouts/default

block content

  .row
    if showcasedFeeds
      .col-sm-8
        h3#showcased-feeds.no-margin-top Showcased feeds
        for showcaseFeed in showcasedFeeds
          if showcaseFeed.feed_url
            a.showcased-feed(href="/feed/?url="+encodeURIComponent(showcaseFeed.feed_url))
              .panel.panel-default
                .panel-body
                  if showcaseFeed.icon
                    img.showcased-feed__image(src=showcaseFeed.icon)
                  else if showcaseFeed.favicon
                    img.showcased-feed__image(src=showcaseFeed.favicon)
                  .showcased-feed__title
                    | #{showcaseFeed.title}
                  .showcased-feed__description
                    p #{showcaseFeed.description}
                  if showcaseFeed.author && showcaseFeed.author.name
                    p
                      em
                        | A feed by 
                        | #{showcaseFeed.author.name}
                  .showcased-feed__fetched-at
                    - var dateFetched = moment(showcaseFeed.fetched_at)
                    - var dateNow = new Date()
                    | Last fetched 
                    = dateFetched.from(moment(dateNow))

        .your-feed-here.panel.panel-default
          .panel-body
            i.fa.fa-plus-square-o.fa-4x(aria-hidden="true")
            h3.your-feed-here__text
              b Your feed here?
            p
              a.btn.btn-primary.btn-sm(target="_blank" href="https://twitter.com/vaillancourtmax") 
                | Reach out on Twitter!
                i.fa.fa-external-link.fa-margin-left(aria-hidden="true")

    if latestFeeds
      .col-sm-4
        h3#latest-feeds.no-margin-top Other users are reading...
        for recentFeed in latestFeeds
          if recentFeed.feed_url
            a.showcased-feed(href="/feed/?url="+encodeURIComponent(recentFeed.feed_url))
              .panel.panel-default
                .panel-body
                  if recentFeed.icon
                    img.showcased-feed__image(src=recentFeed.icon)
                  else if recentFeed.favicon
                    img.showcased-feed__image(src=recentFeed.favicon)
                  .showcased-feed__title--small
                    | #{recentFeed.title}
                  .showcased-feed__description
                    p #{recentFeed.description}
                  if recentFeed.author && recentFeed.author.name
                    p
                      em
                        | A feed by 
                        | #{recentFeed.author.name}
                  .showcased-feed__fetched-at
                    - var dateFetched = moment(recentFeed.fetched_at)
                    - var dateNow = new Date()
                    | Last fetched 
                    = dateFetched.from(moment(dateNow))