extends layout

block content
  div
    p.text-right
      i.text-info(style="margin-right:0.4em;" class="fa fa-question-circle" aria-hidden="true")
      | What is a JSON feed? 
      span
        a(target="_blank" href="https://jsonfeed.org/2017/05/17/announcing_json_feed")
          | Learn more
          i(style="margin-left:0.4em;" class="fa fa-external-link" aria-hidden="true")
    h1
      img(src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Parentesi_Graffe.svg" style="vertical-align:middle; margin-right:0.2em; height:1em;")
      span(style="vertical-align:middle;") JSON Feed Viewer
    p.lead Browse through the showcased JSON feeds below, or type in a feed URL below.
    div(style="margin-bottom:1.2em")
      form(method="get" action="/feed")
        .input-group
          input.form-control(type='text', name="url", placeholder='Feed URL')
          span.input-group-btn
            button.btn.btn-success(type='submit') Go
    +flash-messages(messages)
    .alert.alert-info
      | You can now use RSS and Atom feeds (thanks to 
      a(target="_blank" href="https://feed2json.org/")
        | Andrew Chilton's feed2json.org service
        i(style="margin-left:0.4em;" class="fa fa-external-link" aria-hidden="true")
      | ). Try typing in a RSS or Atom feed URL above!
    p
      i.text-danger(style="margin-right:0.4em;" class="fa fa-heart" aria-hidden="true")
      | Thanks for being here! If this tool helps you today, 
      span
        a(target="_blank" href="https://www.paypal.me/vaillancourtmax/5usd")
          | consider donating
          i(style="margin-left:0.4em;" class="fa fa-external-link" aria-hidden="true")
      | . &ndash;Maxime
    hr
    if showcasedFeeds
      .row-showcase
        for showcaseFeed in showcasedFeeds
          a(href="/feed/?url="+encodeURIComponent(showcaseFeed.feed_url))
            div.item-showcase
              div.panel.panel-default.panel-showcase
                .panel-body
                  if showcaseFeed.icon
                    img(style="max-width:50px;" src=showcaseFeed.icon)
                  else if showcaseFeed.favicon
                    img(style="max-width:50px;" src=showcaseFeed.favicon)
                  else
                    img(style="margin-bottom:0px; max-width:80px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png")
                  h3
                    b #{showcaseFeed.title}
                  p #{showcaseFeed.description}
                  if showcaseFeed.author && showcaseFeed.author.name
                    p
                      em
                        | A feed by 
                        | #{showcaseFeed.author.name}
                  .btn.btn-success.btn-sm Read feed

        div.item-showcase
          div.panel.panel-default.panel-showcase.panel-featured-here
            .panel-body
              i(class="fa fa-plus-square-o fa-4x" aria-hidden="true")
              h3(style="margin-top:0.5em")
                b Your feed here?
              p
                a.btn.btn-primary.btn-sm(target="_blank" href="https://twitter.com/vaillancourtmax") 
                  | Reach out on Twitter!
                  i(style="margin-left:0.4em;" class="fa fa-external-link" aria-hidden="true")