extends layout

block content
  script.
    $(document).ready(function () {
      $('#feed-content style').remove()
      $("table").addClass("table")
    });
  if data
    .row
      .col-md-3
        p.lead(style="padding-top:1em")
          img(src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Parentesi_Graffe.svg" style="vertical-align:middle; margin-right:0.3em; height:1.2em;")
          span(style="vertical-align:middle;")
            a(href="/")
              b JSON Feed Viewer
      .col-md-9
        span Load another JSON feed...
        form.form-inline(method="get")
          .input-group
            input.form-control(type='text', name="feed_url", placeholder='Feed URL')
            span.input-group-btn
              button.btn.btn-success(type='submit') Go
    hr
    .row
      .col-sm-3
        .small: b CURRENT FEED
        br
        a(href=data.home_page_url)
          if data.icon
            img(style="margin-bottom:20px; max-width:50px;" src=data.icon)
          else if data.favicon
            img(style="margin-bottom:20px; max-width:50px;" src=data.favicon)
          else
            img(style="margin-bottom:20px; max-width:100px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png")
            
        p
          a(href=data.home_page_url)
            b=data.title
        p= data.description
        if data.author && data.author.name
          p
            em
              | A feed by 
              = data.author.name
        hr
      .col-sm-9
        if data.items
          for i in data.items
            if i.external_url
              a(target="_blank" href=i.external_url)
                h1(style="margin-top:0;")= i.title
            else
              h1(style="margin-top:0;")= i.title
            p
              if i.url
                a(target="_blank" href=i.url)
                  | Permalink
                  i(style="margin-left:0.4em;" class="fa fa-external-link" aria-hidden="true")
              if i.date_published
                - var datePublished = moment(i.date_published)
              if i.date_modified
                - var dateModified = moment(i.date_modified)

              if datePublished
                |  - Posted on 
                = datePublished.format("YYYY-MM-DD HH:mm")
                if dateModified && !dateModified.isSame(datePublished, "minute")
                  span
                    | , modified 
                    if datePublished.isSame(dateModified, 'day')
                      | at 
                      = dateModified.format("HH:mm")
                    else
                      | on 
                      = dateModified.format("YYYY-MM-DD HH:mm")

            if i.image
              img(src=i.image style="margin:2em 0; max-height:25em")
            else if i.banner_image
              img(src=i.banner_image style="margin:2em 0; max-height:25em")

            #feed-content
              if i.content_html
                p!= i.content_html
              else if i.content_text
                p!= i.content_text
            hr
  else
    h1 Welcome to JSON Feed Viewer!
    p.lead Browse through the showcased JSON feeds below, or type in a JSON feed URL below.
    div
      form(method="get")
        .input-group
          input.form-control(type='text', name="feed_url", placeholder='Feed URL')
          span.input-group-btn
            button.btn.btn-success(type='submit') Go
    hr
    if showcaseFeeds
      .row-showcase
        for showcaseFeed in showcaseFeeds
          a(href="/?feed_url="+encodeURIComponent(showcaseFeed.feed_url))
            div.item-showcase
              div.panel.panel-default.panel-showcase
                .panel-body
                  //a(href="/?feed_url="+encodeURIComponent(showcaseFeed.feed_url))
                  if showcaseFeed.icon
                    img(style="margin-bottom:20px; max-width:50px;" src=showcaseFeed.icon)
                  else if showcaseFeed.favicon
                    img(style="margin-bottom:20px; max-width:50px;" src=showcaseFeed.favicon)
                  else
                    img(style="margin-bottom:0px; max-width:80px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png")
                  h3
                    //a(href="/?feed_url="+encodeURIComponent(showcaseFeed.feed_url))
                    b=showcaseFeed.title
                  p= showcaseFeed.description
                  if showcaseFeed.author && showcaseFeed.author.name
                    p
                      em
                        | A feed by 
                        = showcaseFeed.author.name
                  .btn.btn-success.btn-sm Read feed

        div.item-showcase
          div.panel.panel-default.panel-showcase.panel-featured-here
            .panel-body
              <i class="fa fa-plus-square-o fa-4x" aria-hidden="true"></i>
              h3(style="margin-top:0.5em")
                //a(href="/?feed_url="+encodeURIComponent(showcaseFeed.feed_url))
                b Your feed here?
              p
                a.btn.btn-primary.btn-sm(target="_blank" href="https://twitter.com/vaillancourtmax") 
                  | Reach out on Twitter!
                  i(style="margin-left:0.4em;" class="fa fa-external-link" aria-hidden="true")